# Fichier: requirements_docker.txt (Corrigé pour la compatibilité 3.12/Sparrow 1.2.1)

python-multipart
rich
typer[all]
fastapi==0.124.4
uvicorn[standard]
sparrow-parse==1.1.9
genson==1.3.0
python-dotenv
python-box

oracledb==3.4.1

ollama
pdfminer.six